
/* font */
@font-face {
  font-family: '국립박물관문화재단클래식B';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/국립박물관문화재단클래식B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$title-font : '국립박물관문화재단클래식B';
$font-default : 'GmarketSansMedium';


/* mixin */
@mixin btn($btn-color) {
  display: block;
  width: 180px;
  padding: 15px;
  text-align: center;
  line-height: 1.6;
  background-color: rgba($btn-color, 0);
  background-image: linear-gradient(150deg, rgba($btn-color, .7), rgba($btn-color, .5));
  background-size: calc(100% - 15px) calc(100% - 15px);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow:
    0 0 0 1px rgba($btn-color, 0.7),
    inset 0 0 0 1px rgba($btn-color, 0.1);
  transition:
    background-size .3s .3s ease-in-out,
    background-color .5s .2s,
    box-shadow .5s;

  &:hover {
    background-color: rgba($btn-color, 1);
    box-shadow:
      0 0 15px 3px rgba($btn-color, 0.4),
      inset 0 0 0 1px rgba($btn-color, 1);
    background-size: calc(100%) calc(100%);
  }
}


/* keyframe */

// header 
@keyframes gnb {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

// modal
@keyframes modalfade {
  0% {
    opacity: 0;
    margin-top: -100px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

// book
@keyframes luna {
  0% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }

  50% {
    box-shadow: 0 0 80px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }

  100% {
    box-shadow: 0 0 160px 0px #fff, 0 0 30px -4px #fff, 0 0 8px 2px rgba(255, 255, 255, 0.26);
  }
}

// visit
@keyframes txt-blink {
  0%, 100% {
    text-shadow: 
    0 0 5px #fff, 
    0 0 15px #D2B265, 
    0 0 20px #D2B265;
  }
  50% {
    text-shadow: none;
  }
}

@keyframes blink {
  0%, 100% {
    opacity: .6;
  }
  50% {
    opacity: 0;
  }
}

